<html>

<head>
	<title> Registro y Matrícula </title>
	<link href="css/style.css" rel="stylesheet"
	type="text/css">
</head>

<body>
	<header>
    <h1 align="center" > CEMENTERIO BEYOND'S MEMORIES </h1>
	</header>