{{>header}}

<h3> Página para coordinar </h3>
<h2> A continuación ingrese los datos del curso a crear. </h2>


<p> Id del nuevo curso: </p>
	<input type="number" name="idcurso">

<p> Nombre del curso a crear: </p>
	<input type="text" name="nombrecurso">

<p> Valor de inscripción:  </p>
	<input type="number" name="valorcurso">

<p> Descripción del curso:</p>
	<input type="text" name="descripción">

{{>footer}}