{{>header}}

<h3 align="center"> P치gina para coordinar </h3>
<h2> A continuaci칩n ingrese los datos del curso a crear. </h2>


<p> Id del nuevo curso: <input type="number" name="idcurso" min="0"></p>

<p> Nombre del curso a crear <input type="text" name="nombrecurso"></p>

<p> Valor de inscripci칩n: <input type="number" name="valorcurso" max="1000000" min="0"></p>
	
<p> Descripci칩n del curso: <input type="text" name="descripcion"></p>

<p> Modalidad: <input type="radio" name="gender" value="presencial"> Presencial <input type="radio" name="gender" value="virtual"> Virtual </p>

<p> Intensidad horaria: <input type="number" name="intensidad" min="0" max="200" > de 1 a 200. </p>

{{>footer}}