{{>header}}

    <h2 align="center"> BIENVENID@ </h2>

<form action="/admin" method="post"> 
    <button align="center"> Entrar como Coordinador </button>
</form>

<form action="/inscripcion" method="post"> 
    <button align="center"> Inscripcion a la U</button>
</form>

<form action="/mostrarcursos" method="post"> 
    <button align="center" > Hacer consulta de cursos </button>
</form>

{{>footer}}